body {
    font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    margin-top: 30px;
}

/*header*/
.logo1{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10%;

}

.dropbtn {
    font-size: 16px;
    border: none;
    color: #5F328C;
    padding: 16px;
    background-color: #cacaca;
    font-family: inherit;
    text-decoration: none;
  }

  .dropdown{
    position: absolute;
    display: block;
    margin-left: 70%;
    margin-top: 10%;
    
  }

  .dropdown-content{
    display: none;
    position: absolute;
    overflow: hidden;
    background-color: #cacaca;
    color: #fff;
    min-width: 160px;
    max-height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 16px;
  }

  .show{
    display: block;
    overflow: auto;
  }